
# Copyright 2019 Pavel Petrov <itnelo@gmail.com>. All rights reserved.
# Use of this source code is governed by a MIT license
# that can be found in the LICENSE file.

version: '2'

services:
    app:
        build:
            context: .
            args:
                GOLANG_VERSION: ${GOLANG_VERSION}
                DEPLOYMENT_PATH: ${DEPLOYMENT_PATH}
                TIMEZONE: ${TIMEZONE}
        networks:
            back:
                aliases:
                    - ${APP_HOST_EXPOSE}
        ports:
            - "${APP_PORT_EXPOSE}:9595"
        volumes:
            - ${PWD}/var/logs/app:${DEPLOYMENT_PATH}/var/logs/app

networks:
    back:
        driver: bridge
