analysis:
    lemmatizator:
        mystem:
            executable: 'bin/mystem'
data:
    tag:
        group:
            json: 'data/%s/tag_groups.json'
log:
    main:
        filepath: 'var/logs/app/%s.log'
    error:
        filepath: 'var/logs/app/%s-error.log'
